[project]
	description = First Test Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/project-lead01
[access "refs/for/refs/*"]
	read = group user/project-lead01
	push = group user/project-lead01
	label-Code-Review = -2..+2 group user/project-lead01
	label-Verified = -1..+1 group user/project-lead01
	rebase = group user/project-lead01
	removeReviewer = group user/project-lead01
	submit = group user/project-lead01
[access "refs/heads/*"]
	read = group user/project-lead01
	create = group user/project-lead01
	push = +force group user/project-lead01
	pushMerge = group user/project-lead01
[access "refs/tags/*"]
	push = +force group user/project-lead01
	pushTag = group user/project-lead01
	pushSignedTag = group user/project-lead01
